#root {
  width:100%;
  margin: 0 auto;

  text-align: center;
}


 @keyframes spin {
            to { transform: rotate(360deg); }
        }
        .animate-spin {
            animation: spin 1s linear infinite;
        }