langchain
langchain-community
langchain-core
langchain-nvidia-ai-endpoints
langchain-text-splitters

pypdf
PyPDF2
python-docx

tiktoken
aiofiles

fastapi
uvicorn
jinja2
python-multipart

pinecone
langchain-pinecone

python-dotenv
